<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gestão Agro - Animais</title>
</head>
<body class=" bg-gray-100 flex h-screen">
 {{>menu}}

<div class="ml-64 p-8 w-full">
    
        <div class="flex mb-4">
            <input type="text" placeholder="Buscar animal..." class="w-4/5 h-12 px-4 border border-gray-300 rounded-xl">
            <div class="w-3"></div>
            <button onclick="abrirModal()" class="w-1/5 h-12 bg-green-600 font-bold text-white rounded-xl hover:bg-green-700">Cadastrar Alimentação</button>
        </div>
    
        <div class="overflow-x-auto bg-white border  rounded-2xl ">

            
            <table class=" w-full">
                <thead class="gap-2">
                    <tr class="bg-green-600 shadow-neutral-500 text-white text-left">
                        <th class=" rounded-tl-lg  py-4 pl-4">ID</th>
                        <th class=" p-4">Nome</th>
                        <th class=" p-4">Fornecedor</th>
                        <th class=" p-4">Quantidade (Unidade)</th>
                        <th class=" p-4">Data Validade</th>
                         <th class=" p-4">Data Entrega</th>
                       
                        
                        <th class="rounded-tr-lg   w-[12%] text-center p-4">Ações</th>
                    </tr>
                </thead>
                <tbody>
                       {{#each Alimentacao}}
                    <tr  class="">
    
                        <td class=" border-b rounded-tl-xl rounded-bl-xl font-semibold py-4 pl-4">{{IdAlimentacao}}</td>
                        <td class=" border-b font-semibold p-4">{{Nome}}</td>
                        <td class=" border-b font-semibold p-4">{{Fornecedor}}</td>
                        <td class=" border-b font-semibold p-4">{{QuantidadeEstoque}}</td>
                        <td class=" border-b font-semibold p-4">{{DataValidade}} </td>
                        <td class=" border-b font-semibold p-4">{{DataEntrega}} </td>
                        
                        <td class="border-b font-semibold text-center p-2">
                            <button onclick="abrirModal('{{this.IdAlimentacao}}', '{{this.Nome}}', '{{this.Fornecedor}}', '{{this.QuantidadeEstoque}}', '{{this.DataValidade}}', '{{this.DataEntrega}}')" class="text-blue-600 hover:underline">Editar</button>
                            <button onclick="deleteAlimentacao('{{this.IdAlimentacao}}')" class="text-red-600 hover:underline ml-2">Excluir</button>
                        </td>
    
                    </tr>  {{/each}}
    
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
</div>

<div id="modal" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h2 id="modalTitle" class="text-xl font-bold mb-4">Cadastrar Alimentação</h2>
        <form id="animalForm">
            <label class="block mb-2">Nome:</label>
            <input id="Nome" type="text" name="Nome" class="w-full p-2 border rounded mb-2">

            <label class="block mb-2">Fornecedor:</label>
            <input id="Fornecedor" type="text" name="Fornecedor" class="w-full p-2 border rounded mb-2">

            <label class="block mb-2">QuantidadeEstoque (Unidade):</label>
            <input id="QuantidadeEstoque" type="number" step="any" name="QuantidadeEstoque" class="w-full p-2 border rounded mb-2">

            <label class="block mb-2">Data Validade:</label>
            <input id="DataValidade" type="date" step="any" name="DataValidade" class="w-full p-2 border rounded mb-2">

            <label class="block mb-2">Data Entrega:</label>
            <input id="DataEntrega" type="date" name="DataEntrega" class="w-full p-2 border rounded mb-4">

            <button id="ButtonModal"  type="submit" class="w-full bg-green-600 text-white p-2 rounded">Cadastrar</button>
        </form>
        <button onclick="fecharModal()" class="w-full mt-2 bg-gray-400 text-white p-2 rounded">Cancelar</button>
    </div>
</div>
<script>

    let idAlimentacaoAtual = null;
     function abrirModal( IdAlimentacao = '', Nome = '',Fornecedor = '', QuantidadeEstoque = '', DataValidade = '', DataEntrega = '') {
  
    idAlimentacaoAtual = Number(IdAlimentacao)
    document.getElementById("Nome").value = Nome;
    document.getElementById("Fornecedor").value = Fornecedor;
    document.getElementById("QuantidadeEstoque").value = QuantidadeEstoque;
    document.getElementById("DataValidade").value = DataValidade;
    document.getElementById("DataEntrega").value = DataEntrega;

    document.getElementById("modalTitle").textContent = idAlimentacaoAtual ? "Editar Alimentação"  : "Cadastrar Alimentação";
     const button = document.getElementById("ButtonModal");
  if (IdAlimentacao) {
    button.textContent = "Editar";  // Altera o texto para "Editar"
  } else {
    button.textContent = "Cadastrar";  // Mantém o texto como "Cadastrar"
  }
    document.getElementById("modal").classList.remove('hidden');
    
  }

function fecharModal() {
    document.getElementById('modal').classList.add('hidden');
     document.getElementById('animalForm').reset()
}

document.getElementById('animalForm').addEventListener('submit', async function(event) {
   if(idAlimentacaoAtual == ''){
    idAlimentacaoAtual= null
   }
    event.preventDefault();

     const formData = {
        IdAlimentacao:idAlimentacaoAtual,
      Nome: document.getElementById("Nome").value,
      Fornecedor: document.getElementById("Fornecedor").value,
      QuantidadeEstoque: Number(document.getElementById("QuantidadeEstoque").value),
         DataValidade: new Date(document.getElementById("DataValidade").value).toISOString(),  // Converte para ISO 8601
    DataEntrega: new Date(document.getElementById("DataEntrega").value).toISOString()
    };
   console.log("esse é o id", formData)
 
    const url = idAlimentacaoAtual ? `/alimentacao/${idAlimentacaoAtual}` : "/alimentacao/";
    const method = idAlimentacaoAtual ? "PUT" : "POST";

    const response = await fetch(url, {
      method: method,
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(formData)
    });

  if (response.ok) {
    alert(idAlimentacaoAtual ? "Alimentação atualizado com sucesso!" : "Animal cadastrado com sucesso!");
    location.reload();
  } else {
    const error = await response.json();
    alert("Erro: " + JSON.stringify(error.message));
  }
});


 async function deleteAlimentacao(IdAlimentacao) {
    if (confirm("Tem certeza que deseja excluir esta Alimentação?")) {
      const response = await fetch(`/alimentacao/${IdAlimentacao}`, { method: "DELETE" });

      if (response.ok) {
        alert("Alimentação excluído com sucesso!");
        location.reload();
      } else {
        const error = await response.json();
        alert("Erro ao excluir: " + error.message);
      }
    }
  }
</script>
</body>
